# Configuración de AWS
AWS_REGION=us-east-1
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/TU_CUENTA/TU_COLA

# Configuración de RDS PostgreSQL
DB_HOST=tu-instancia-rds.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=postgres